html,body{
    background: #F5F5F5;
    font-family:Helvetica;
    width:100%;
    height: 100%;
}
/*去掉滚动条样式*/
::-webkit-scrollbar {
    width: 0;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mt30{
    margin-top: 30px;
}
.pb20{
    padding-bottom: 20px;
}
button{
    outline:none;
    box-shadow: none;
}
input {outline:none;}
.cnter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vux-picker{
    background: #fff;
}
.vux-popup-picker-container .vux-popup-picker-header{
    height: 98px;
}
.vux-popup-picker-header .vux-flexbox {
    height: 98px;
    line-height: 98px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-bottom: 1px solid #DFDFDF;
}
.vux-flexbox .ux-popup-picker-cancel{
    font-size: 32px;
    color: #9B9B9B;
}
.common .weui-cells:after{
    border-bottom: none;
}
.vux-flexbox  .vux-popup-picker-header-menu-right{
    font-size: 32px;
    color: #232326;
}
.vux-cell-box .weui-cell{
    border: 2px solid #D8D8D8;
    box-sizing: border-box;
    padding: 0 0 0 0;
    color: #9B9B9B;
    letter-spacing: 2px;
    padding-left: 13px;
    margin-bottom: 10px;
}
.weui-cells .vux-cell-box{
    height: 68px;
    line-height: 68px;
    width: 100%;
}
.weui-cells .weui-cell__hd .weui-label{
    line-height: 68px;
    height: 68px;
}
.weui-cells .vux-cell-box .weui-cell__ft{
    display: none;
}
.weui-cells .vux-cell-value {
    color: #040404;
    padding-right: 20px;
}
.scroller-content{
    background: #FFFFFF;
}
.scroller-content .scroller-item-selected{
    font-size: 33px;
    border: none;
   /* border-top: 1px solid #3999FF;
    border-bottom: 1px solid #3999FF;*/
}
.vux-popup-bottom .bank-item{
    height: 110px;
    width: 100%;
    font-size: 28px;
    color: #4A4A4A;
    text-align: center;
    line-height: 110px;
    position: relative;
    border-bottom:  1px solid #DFDFDF;
}
.vux-popup-bottom  .select-icon{
    color:#6299F3;
    position: absolute;
    right: 38px;
    top:0
}
/*地址选择样式重写*/
.vux-check-icon .weui-icon{
    font-size: 40px;
}
.common .vux-check-icon > .weui-icon-success:before, .common.vux-check-icon > .weui-icon-success-circle:before{
    color: #6299F3;
}
.common  .vux-check-icon > span{
    font-size: 24px;
    color: #8D8D8D;
}
.common .vux-no-group-title{
    background: #FFFFFF;
    font-size: 28px;
    color: #333333;
    height: 100px;
}
.common .vux-no-group-title .weui-cell__ft{
    width: 85px;
}
.common .vux-no-group-title .weui-switch{
    margin-top: 30px;

}
.common .icon-tiaozhuan{
    font-size: 28px;
}
/*取消a标签在移动端点击时的蓝色*/
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
.vux-popup-dialog .vux-popup-picker-container  .vux-popup-header{
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    padding: 0 30px;
    box-sizing: border-box;
}
.border-1px::after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    content: '';
    background: #F5F5F5;
    width: 100%;
}

